.calendar-panel-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(230,230,230);
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
}

.emptyHoursBlock {
  width: 10%;
  height: 100%;
}

.calendar-days-container {
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
