* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  width: 740px;
}
